.article {
  font-size: 20px;
}

.article > .section {
  margin-top: 20px;
  font-weight: 300;

  > .inner {
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: 0 auto;
  }

  .title {
    font-size: 2em;
    padding-top: 16px;
    line-height: 1.5;
    outline-width: 0px;
    font-weight: 400;
  }

  .text {
    font-size: 1em;
    line-height: 1.7;
    outline-width: 0px;
    margin-top: 38px;
    font-weight: 300;
    width: 100%;
  }

  .text.--description {
    margin-top: 10px;
  }
}
