@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .rounded-t-5xl {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }

    .border-3\/2 {
        border-width: 1.5px;
    }

    .border-t-3\/2 {
        border-top-width: 1.5px;
    }

    .border-l-3\/2 {
        border-left-width: 1.5px;
    }

    .border-r-3\/2 {
        border-right-width: 1.5px;
    }

    .webkit-rounded-t-md {
        -webkit-border-radius: 0.375rem 0.375rem 0 0;
    }

    .webkit-rounded-b-md {
        -webkit-border-radius: 0 0 0.375rem 0.375rem;
    }

    .rounded-5xl {
        border-radius: 2rem;
    }

    .py-3_5 {
        padding-top: 0.85rem;
        padding-bottom: 0.85rem;
    }

    .custom-shadow {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .z-60 {
        z-index: 60;
    }

    @variants responsive {
        .w-175px {
            width: 175px;
        }

        .w-185px {
            width: 185px;
        }

        .square-450px {
            width: 480px;
            height: 480px;
        }

        .s-19x14rem {
            width: 19rem;
            height: 14rem;
        }

        .h-420px {
            height: 430px;
        }

        .square-400px {
            width: 350px;
            height: 350px;
        }

        .h-34rem {
            height: 34rem;
        }
    }

}

:root {

    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --pink-100: 255, 245, 247;
    --pink-400: 246, 135, 179;
    --pink-500: 237, 100, 166;
    --pink-600: 213, 63, 140;

    --text-white: 255,255,255;
    --text-black: 0, 0, 0;


    --text-pink-100: 255, 245, 247;
    --text-pink-400: 246, 135, 179;
    --text-pink-500: 237, 100, 166;
    --text-pink-600: 213, 63, 140;

    --gray-100: 247, 250, 252;
    --gray-200: 237, 242, 247;
    --gray-300: 226, 232, 240;
    --gray-400: 203, 213, 224;
    --gray-500: 160, 174, 192;
    --gray-600: 113, 128, 150;
    --gray-700: 74, 85, 104;
    --gray-800: 45, 55, 72;
    --gray-900: 26, 32, 44;

    --red-100: 255, 245, 245;
    --red-400: 252, 129, 129;
    --red-500: 245, 101, 101;
    --red-600: 229, 62, 62;

    --blue-400: 99, 179, 237;

    --green-100: 240, 255, 244;
    --green-400: 104, 211, 145;
    --green-500: 72, 187, 120;

    --orange-100: 255, 250, 240;
    --orange-200: 254, 235, 200;
    --orange-400: 246, 173, 85;
    --orange-500: 237, 137, 54;
}

[data-theme='dark'] {

    color: #ffffff;
    background-color: rgb(74, 85, 104);

    --white: 45, 55, 72;
    --black: 113, 128, 150;

    --text-white: 255,255,255;
    --text-black: 255, 255, 255;

    --text-pink-100: 255, 245, 247;
    --text-pink-400: 255, 255, 255;
    --text-pink-500: 45, 55, 72;
    --text-pink-600: 255, 255, 255;

    --pink-100: 255, 245, 247;
    --pink-400: 26, 32, 44;
    --pink-500: 45, 55, 72;
    --pink-600: 26, 32, 44;

    --gray-100: 74, 85, 104;
    --gray-200: 237, 242, 247;
    --gray-300: 226, 232, 240;
    --gray-400: 203, 213, 224;
    --gray-500: 160, 174, 192;
    --gray-600: 113, 128, 150;
    --gray-700: 74, 85, 104;
    --gray-800: 45, 55, 72;
    --gray-900: 45, 55, 72;

    --red-100: 255, 245, 245;
    --red-400: 252, 129, 129;
    --red-500: 245, 101, 101;
    --red-600: 229, 62, 62;

    --blue-400: 99, 179, 237;

    --green-100: 240, 255, 244;
    --green-400: 104, 211, 145;
    --green-500: 72, 187, 120;

    --orange-100: 255, 250, 240;
    --orange-200: 254, 235, 200;
    --orange-400: 246, 173, 85;
    --orange-500: 237, 137, 54;
}